.game-fo {
  position: absolute;
  bottom: 55px;
  width: 100%;
}

.game-fo-o {
  width: 100%;
  display: none;
  justify-content: space-around;
}

.game-fo.s .game-fo-o {
  display: flex;
}

.game-fo .button {
  font-size: 25px;
  height: 50px;
  text-shadow: 1px 1px 0px black;
  width: 150px;
}

.game-fo.s .button {
  display: none;
}

.game-fo-b {
  position: relative;
  border-radius: 50%;
  font-size: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: linear-gradient(#ffec64, #ffab23);
  color: white;
  text-shadow: 1px 1px 0px black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
}

.game-fo-b:hover {
  background: #ffab23;
}

.game-fo-b[disabled] {
  opacity: 0.5;
}

#help span {
  background: white;
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  font-weight: bold;
  height: 18px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;
  width: 18px;
}
